
html, body {
    
    background-color: black;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
#sketch-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content:center;
    width: 700px;
    height: 700px;
    background-color: aliceblue;
}

.square{
    border: 1px solid black;
}

.square-hover-enter{
    background-color: black;
}

button{
    padding: 8px 16px;
    border-radius: 15px;
    background-color: bisque;
    font-family: cursive;
    font-weight: bold;
}